<!DOCTYPE html>
<html ng-cloak ng-app='cloneApp'>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" type='text/css' href='main.css'>

    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css" media="screen" title="no title" charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  </head>
  <body ng-controller='CloneController'>

    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <a class='navbar-brand'>Reddit Clone</a>

        <ul class='nav navbar-nav'>

          <li class='adjNavContent'>
            <button ng-click='vm.showForm()'>Create a Post!</button>
          </li>

          <li class='navbar-form form-inline adjNavContent'>
            <label>Search</label>
              <input type='text' ng-model='searchBox'/>
          </li>

          <li class='form-inline adjNavContent2'>
            <div class="dropdown">
              <select class='form-control' ng-model='vm.sortBy'>
                <option value='' disabled selected >Sort By...</option>
                <option value='-votes'>Votes</option>
                <option value='-date'>Date</option>
                <option value='title'>Title</option>
              </select>
            </div>
          </li>

        </ul>

      </div>
    </nav>

    <form
      name='redditForm'
      ng-show='vm.hidden'
      novalidate >

      <div
        class='form-group'
        ng-class="{ 'has-error': redditForm.author.$invalid && !redditForm.author.$pristine, 'has-success': redditForm.author.$valid }">
        <label class='control-label' name='author'>Author</label>
          <input
            type='text'
            name='author' id='author'
            ng-model='vm.newPostData.author'
            ng-minlength='5'
            ng-maxlength='30'
            required/>
          <p
            ng-show='redditForm.author.$error.minlength' class='help-block'>
            Too short for Author Name!
          </p>
          <p
            ng-show='redditForm.author.$error.maxlength' class='help-block'>
            Thats too long for an actual name.
          </p>
      </div>

      <label name='imageurl'>Image URL</label>
        <input type='url' name='imageurl' ng-model='vm.newPostData.image' />

        <div
          class='form-group'
          ng-class="{ 'has-error': redditForm.title.$invalid && !redditForm.title.$pristine, 'has-success': redditForm.title.$valid }">
          <label class='control-label' name='title'>Title</label>
            <input
              type='text'
              name='title' id='title'
              ng-model='vm.newPostData.title'
              ng-minlength='5'
              ng-maxlength='25'
              required/>
            <p
              ng-show='redditForm.title.$error.minlength' class='help-block'>
              Too short for a Title!
            </p>
            <p
              ng-show='redditForm.title.$error.maxlength' class='help-block'>
              Aw hell naw! Stop typing!
            </p>
        </div>

      <div
        class='form-group'
        ng-class="{ 'has-error': redditForm.description.$invalid && !redditForm.description.$pristine, 'has-success': redditForm.description.$valid }">
        <label
          class='control-label'
          name='description'>
          Description
        </label>
          <input
            type='text'
            name='description' id='description'      ng-model='vm.newPostData.description'
            ng-minlength='15'
            ng-maxlength='200'
            required/>
          <p
            ng-show='redditForm.description.$error.minlength' class='help-block'>
            Come on, be more descriptive!
          </p>
          <p
            ng-show='redditForm.description.$error.maxlength' class='help-block'>
            Geeze, don't write a novel.
          </p>
      </div>

      <button ng-click='vm.newPost(); vm.showForm()'>SUBMIT</button>

    </form>

    <!-- Section for Posts -->
    <div class='container'>
      <div class='row'>
        <section ng-repeat='post in vm.posts | filter:searchBox | orderBy: vm.sortBy' class='col-md-10 col-md-offset-1 well adjContent'>

          <img class='col-md-3' ng-src='{{ post.image }}' ng-class='{ resize: post.image}' />
            <p class='col-md-4 adjContent'>{{ post.title }}</p>
            <p class='col-md-4 adjContent'>Author: {{ post.author }}</p>
            <p class='col-md-4 adjContent'>{{ post.description }}</p>
            <p class='col-md-4 adjContent'>{{ post.date | date:'medium' }}</p>

            <div class='col-sm-2'>
              <span class='embiggen' ng-click='vm.trackUpVotes(post)'>{{ vm.voteUp }}</span>
              <span class='embiggen' ng-click='vm.trackDownVotes(post)'>{{ vm.voteDown }}</span>
              <h3>{{ post.votes }}</h3>
            </div>

          <!-- Comments Section -->
            <!-- pass in post as a parameter to the function so it targets each post instead of all posts -->
            <!-- vm will still be a prefix for all shared funcitons, pass in 'post' as a parameter to target specific posts -->
          <div class='container'>
            <div class='col-sm-2'>
              <p ng-click='vm.showComments(post)'>Comments</p>
              <p ng-click='vm.showCommentForm(post)'>Add a Comment</p>
            </div>
          </div>

          <!-- vm.newComment will target all posts, need post.newComment to target specific posts  -->
          <form
            name='commentForm'
            class='col-sm-2'
            ng-show='post.hiddenCommentForm'
            ng-submit='vm.newComment(post)'
            novalidate >
            <label name='author'>Author</label>
              <input
                type='text'
                name='author'
                ng-model='post.newComment.author'/>
            <label name='text'>Text</label>
              <input
                type='text'
                name='text'
                ng-model='post.newComment.text'/>

            <button type='submit'>Add Comment!</button>
          </form>


          <!-- change vm.comments to post.comments -->
          <section
            ng-repeat='comment in post.comments'
            ng-show='post.hiddenComment'
            class='col-sm-4'>
            <p class='col-md-6'>{{ comment.author }}</p>
            <p class='col-sm-6'>{{ comment.text }}</p>
          </section>

        </section>
      </div>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
    <script src='app.js'></script>
  </body>
</html>
