[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.postBG {
  background-color: #E9EAEC;
  height: 200px;
  width: 100%;
}

.resize {
  height: 150px;
  width: 200px;
  margin-top: 25px;
}

.adjNavContent {
  margin-top: 13px;
}

.adjNavContent2 {
  margin-top: 10px;
}

.adjContent {
  margin-top: 25px;
}

.embiggen {
  font-size: 25px;
}
